@{
    ViewData["Title"] = "Home Page";
}

<h1>Добре дошли в игралната зала</h1>
<h2>Въведение</h2>
<h4>Идеята на това приложение е да позволи на потребителите да „играят“ подбрани игри, да печелят точки играейки ги и да покажат своя истински потенциал.</h4>
<h2>Как да уаствам</h2>
<h4>За да участваш, първо трябва всеки участник да си направи 
    <a asp-route-id="" asp-area="" asp-action="Create" asp-controller="Player" class="gameDescritpion">регистрация</a>
    (не е задължителна за зрителите). След това участниците могат да разгледат и да си изберат игрите, в които им се участват (обърнете внимание, че всяка от игрите имат възрастово ограничение). </h4>
<h2>Точкуване и класация</h2>
<h4>При записването си всеки играч започва със 100 точки за съответната игра. Когато някоя игра започне, всички участници в нея получават (или губят) някакъв брой точки. </h4>
<h2>Правила</h2>
<ul style="font-size:18px;">
    <li>потр. име - само букви и числа (поне 4 символа); парола – поне 5 символа; лични имена – само букви (поне 4 символа). Всеки учстник трябва да е на поне 6 години.</li>
    <li>Ако точките на даден играч за дадена игра паднат под 0, той не може да играе в същата игра пак.</li>
    <li><span style="color:red">Подаване на фалшива/грешна информация или какъвто и да е вид измама се наказва с отстраняване от играта</span></li>
</ul>
