@model GameRoom.ViewModels.ChangePlayerViewModel
@{
    ViewData["Title"] = "Change";
}

<style>
    .BackToProfile {
        background-color: #64ba67;
        border-radius: 20px;
        border: 2px;
        padding: 15px 40px;
        font-size: 20px;
        cursor: pointer;
        margin: 5px;
        display: inline-block;
    }
</style>

<h2>Change Account Information</h2>
<div>
    <b>
        <a asp-route-id="@Model.Id" asp-area="" asp-action="Detail" asp-controller="Player" style="border:solid;border-color:black;border-width:3px;text-align:center;padding:5px;background-color:lightgray;padding: 2px 10px"> Do not change and Back to account View</a>
    </b>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Change">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="hidden">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInformation" class="control-label"></label>
                <input asp-for="AdditionalInformation" class="form-control" />
                <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" type="password" required/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <span style="font:100 15px Arial; color:red;">*In order to change your account data, you need to enter your initial password</span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
